$primary: #ff00a4;
$white: #fff;
$--text-primary: #404040;
$--text-grey: #e6e6e6;
$--text-color-light: #a3a3a3;
$--text-green: #22a958;
$--background-grey: rgba(19, 20, 31, 0.05);
$--background-green: rgba(34, 169, 88, 0.06);
$--card-shadow: rgba(0, 0, 0, 0.1);
