@font-face {
  font-family: 'IRANSans';
  src: url('../public/fonts/IRANSans.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'IRANSansBold';
  src: url('../public/fonts/IRANSans_Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}