html,
body {
  padding: 0;
  margin: 0;
  font-family: IRANSans, IRANSansBold, Roboto, Tahoma, serif !important;
  direction: rtl;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  cursor: default;
}
